.snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 99999999999;
    left: 50%;
    bottom: 30px;
}
.info{
    background-color: rgba(0,173,72);
}
.error{
    background-color: rgba(250,0,30); 
}